@font-face {
	font-family: graphik;
	font-display: optional;
	src: url('/assets/fonts/graphik-regular.otf') format("opentype");
}

body {
	margin-top: 10vh;
	text-align: center;
	background-color: #007166;
	color: white;
}

@media (min-width: 1400px) {
	body {
		margin-top: 0;
	}
}

.logo {
	max-width: 90%;
}

.social-container {
	margin-top: 65px;
}

.social {
	max-height: 35px;
	max-width: 35px;
	margin: 10px;
}

.contact {
	margin: 20px 0;
	font-size: 22px;
	font-family: graphik, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
}
